.bor {
  border: 1px solid black;
}

form i {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#loginRightSide {
  background-color: rgb(215, 230, 250);
  border: 2px solid black;
  border-radius: 2rem;
  animation: 1.5s fadeInUp;
}

@keyframes fadeInUp {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

#Login-body {
  background-image: linear-gradient(to right, #09203f, #537895);
}

.quantity {
  display: flex;
  border-radius: 4px;
  overflow: hidden;
}

.quantity button {
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 30px;
  height: auto;
  text-align: center;
  border: 1px solid black;
}

.input-box {
  width: 60px;
  text-align: center;
  border: none;
  padding: 8px 10px;
  font-size: 16px;
  outline: none;
  border: 1px solid black;
}
