@model List<Project.Repository.ViewModels.OrderDetailsViewModel>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Ordered Product(s)</th>
        <th>Total Amount</th>
    </tr>
    @foreach (var orders in Model)
    {
        <tr>
            <td>@orders.OrderId</td>
            <td>
                @foreach (var items in orders.ProductNames)
                {
                    <li>@items</li>
                }
            </td>
            <td>
                @orders.TotalAmount
            </td>
        </tr>
    }
</table>